
@{
    ViewData["Title"] = "NewUserSummary";
}

@model NewUser

<h1>Welcome! Please Review & Confirm:</h1>
@if (Model != null)
{
 
            <p> @Model.UserName | @Model.Email | @Model.Password</p>

      
}
<a href="../Home/Index" class="btn btn-primary">Confirm</a>



@*<form asp-controller="NewUser" asp-action="SaveToList" method="post">
        <button type="submit"> Confirm</button>
    </form>*@